{% extends "MainPage.html" %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div style="position:relative">
    <table style="padding:50px; top: 50%; width: 100%; text-align: center; border-spacing: 50px">

        <tr>
            <td>
                <a href="https://www.facebook.com/Gameception" target="_blank">
                    <button type="button" class="btn btn-info btn-block">Facebook</button>
                </a>
            </td>

            <br><br>

            <td>
                <a href="https://twitter.com/GameceptionTwit" target="_blank">
                    <button type="button" class="btn btn-info btn-block">Twitter</button>
                </a>
            </td>
        </tr>
        <tr>
            <td><br> </td>
        </tr>
        <tr>
            <td>
                <a href="http://gameceptionblog.tumblr.com/" target="_blank">
                    <button type="button" class="btn btn-info btn-block">Tumblr</button>
                </a>
            </td>

            <br><br>

            <td>
                <a href="https://www.instagram.com/gameceptioninsta/" target="_blank">
                    <button type="button" class="btn btn-info btn-block">Instagram</button>
                </a>
            </td>
        </tr>
        <tr>
            <td><br> </td>
        </tr>
        <tr>
            <td>
                <a href="https://plus.google.com/113322590669806837209?hl=en" target="_blank">
                    <button type="button" class="btn btn-info btn-block">Google+</button>
                </a>
            </td>

            <br><br>

            <td>
                <a href="https://www.youtube.com/channel/UCkSJZq4xNIg1hEdtDj-35sw?&ab_channel=GameceptionCompany" target="_blank">
                    <button type="button" class="btn btn-info btn-block">Youtube</button>
                </a>
            </td>
        </tr>
    </table>
</div>
</body>
</html>
{% endblock %}