{% extends "MainPage.html" %}

{% block title %}Home{% endblock %}

{% load staticfiles %}

{% block content %}

    <div class="jumbotron">
        <h1>Bem-vindo a GAMECEPTION!</h1>
        <p>
            A sua plataforma online de assinatura personalizada de jogos. Onde você poderá personalizar seu perfil e 
            todo mês será surpreendido com produtos escolhidos por nós para melhor se adequarem a suas preferencias.<br>
            Assine agora para ir mais fundo no mundo dos games!
        </p>
        <!--img src="http://dazedimg.dazedgroup.netdna-cdn.com/786/azure/dazed-prod/1120/2/1122563.jpg" alt="inception spinning top" style="width:650px;height:350px;"-->

        <br> <br>
        <a class="btn btn-primary btn-lg" href="{% url 'Sobre' %}" role="button">Saiba Mais</a>
    </div>

{% endblock %}