{% extends "MainPage.html" %}

{% block content %}

<h1>HISTÓRICO</h1>


<h2>Seu pedido de {{pedido.data}}</h2>

<h2>Total cobrado: R${{preco}}</h2>

{% if digital %}

{% for chave in chaves %}

  <div class="row" style="float: left; padding: 20px; <!--outline-style:solid; outline-color:black;--> margin:10px">
     <div class="thumbnail">
        <img src="http://cdn.akamai.steamstatic.com/steam/apps/{{chave.jogo.img1}}/header.jpg?t={{chave.jogo.img2}}" style="width: 460px; height: 215px">
        <div class="caption" style="max-width:460px; height: 380px">
          <h3>{{ chave.jogo.nome }}</h3>
          <p>Gêneros: </p>
          {% for genero in chave.jogo.listaGeneros.all %}
          <p style="display: inline">{{ genero.nome }};</p>
          {% endfor %}
          <br><br>
          <p>Descrição:</p>
          <p style="text-indent:30px">{{ chave.jogo.descricao }}</p>
          <br>
          <p>
            Ram mínima : {{chave.jogo.memRAM}} MB
          </p>
          <p>
            Preço : R$ {{chave.jogo.preco}}
          </p>
          Chave de Download: {{chave.chave}}
        </div>
     </div>
  </div>
{% endfor %}

{% else %}

<h3>Código de rastreamento: {{pedido.codigoRastreamento}}</h3>

{% for jogo in pedido.jogosPedidos.all %}

  <div class="row" style="float: left; padding: 20px; <!--outline-style:solid; outline-color:black;--> margin:10px">
   <div>
     <div class="thumbnail">
       <img src="http://cdn.akamai.steamstatic.com/steam/apps/{{jogo.img1}}/header.jpg?t={{jogo.img2}}" style="width: 460px; height: 215px">
       <div class="caption" style="max-width:460px; height: 300px">
         <h3>{{ jogo.nome }}</h3>
         <p>Gêneros: </p>
         {% for genero in jogo.listaGeneros.all %}
         <p style="display: inline">{{ genero.nome }};</p>
         {% endfor %}
         <br><br>
         <p>Descrição:</p>
         <p style="text-indent:30px">{{ jogo.descricao }}</p>
         <p>
           Ram mínima : {{jogo.memRAM}} MB
         </p>
         <p>
           Preço : R$ {{jogo.preco}}
         </p>
       </div>
     </div>
   </div>
  </div>
{% endfor %}



{% endif %}

{% endblock %}



{% block side %}

  <h2>Meu jogos</h2>


    <form action="{% url 'Historico' %}">
      <input type="submit" value="Ver todos os meus jogos" class="btn btn-primary btn-sm" style="margin:7px;width:150px;text-align: center">
    </form>

  <h2>Meus pedidos por data</h2>

  {% for p in listaPedidos %}

    <form action="/Assinante/Historico/{{p.numero}}/">
      <input type="submit" value="{{p.data}}" class="btn btn-primary btn-sm" style="margin:7px;width:100px;text-align: center">
    </form>

  {% endfor %}

{% endblock %}
