{% extends "MainPage.html" %}

{% block content %}

<h1>HISTÓRICO</h1>

{% if digital %}

{% for chave in chaves %}
  <div class="row" style="float: left; padding: 20px">
    <div>
      <div class="thumbnail">
        <img src="http://cdn.akamai.steamstatic.com/steam/apps/{{chave.jogo.img1}}/header.jpg?t={{chave.jogo.img2}}" style="width: 460px; height: 215px">
        <div class="caption">
          <h3>{{ chave.jogo.nome }}</h3>
          <p>Gêneros: </p>
          {% for genero in chave.jogo.listaGeneros.all %}
          <p>{{ genero.nome }}</p>
          {% endfor %}
          Chave de Download: {{chave.chave}}
        </div>
      </div>
    </div>
  </div>
{% endfor %}

{% else %}

{% for jogo in pedido.jogosPedidos.all %}
  <div class="row" style="float: left; padding: 20px">
    <div>
      <div class="thumbnail">
        <img src="http://cdn.akamai.steamstatic.com/steam/apps/{{jogo.img1}}/header.jpg?t={{jogo.img2}}" style="width: 460px; height: 215px">
        <div class="caption">
          <h3>{{ jogo.nome }}</h3>
          <p>Gêneros: </p>
          {% for genero in jogo.listaGeneros.all %}
          <p>{{ genero.nome }}</p>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endfor %}

Código de rastreamento: {{pedido.codigoRastreamento}}

{% endif %}

<div class="">
  {% if proximo %}
  <a href="http://127.0.0.1:8000/Assinante/Historico/{{proximo}}/"><button class="btn-primary">Entrega seguinte</button></a>
  {% endif %}
  {% if temAnterior %}
  <a href="http://127.0.0.1:8000/Assinante/Historico/{{anterior}}/"><button class="btn-primary">Entrega anterior</button></a>
  {% endif %}
  {% endblock %}
</div>




{% block contentz %}
<body>
      <h1>HISTÓRICO</h1>
      mostrar aqui o pedido {{num_pedido}} do assinante {{user.username}}<br>
      {{pedido1.data}}


      {% if digital %}
      dig {{pedido.numero}}<br>

    <!--  {% for jogo in jogos %}
      <div class="row" style="float: left; padding: 20px">
        <div>
          <div class="thumbnail">
            <img src="http://cdn.akamai.steamstatic.com/steam/apps/{{jogo.img1}}/header.jpg?t={{jogo.img2}}" style="width: 460px; height: 215px">
            <div class="caption">
              <h3>{{ jogo.nome }}</h3>
              <p>Gêneros: </p>
              {% for genero in jogo.listaGeneros.all %}
              <p>{{ genero.nome }}</p>
              {% endfor %}
              <p>x y z</p>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}-->

      {% for chave in chaves %}
      <div class="col-xs-12 col-sm-6 placeholder">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">{{chave.jogo.nome}}</h3>
          </div>
          <img src="http://cdn.akamai.steamstatic.com/steam/apps/{{chave.jogo.img1}}/header.jpg?t={{chave.jogo.img2}}" alt="{{chave.jogo.nome}}" /><br>

          Chave Download: {{chave.chave}}<br>

        </div>
      </div>
      {% endfor %}

      {% else %}
      fis <br>

      {% for jogo in pedido1.jogosPedidos.all %}

      <div class="col-xs-12 col-sm-6 placeholder">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">{{jogo.nome}}</h3>
          </div>
          <img src="http://cdn.akamai.steamstatic.com/steam/apps/{{jogo.img1}}/header.jpg?t={{jogo.img2}}" alt="{{chave.jogo.nome}}" /><br>
          <div class="">
          </div>
        </div>
      </div>

      {% endfor %}
      Código de rastreamento: {{pedido1.codigoRastreamento}}<br>

      {% endif %}



      {% if pode_sucessor %}
        <a href="/Assinante/Historico/{{sucessor}}/">Próxima entrega</a><br>
      {% endif %}
      {% if pode_antecessor %}
        <a href="/Assinante/Historico/{{antecessor}}/">Entrega anterior</a><br>
      {% endif %}
</body>
</html>
{% endblock %}
