{% extends "MainPage.html" %}

    {% load staticfiles %}

    {% block content %}
    <div class="page-header">
    <h1>Bem-vindo {{ user.username }}!</h1>
    </div>

    <div class="row placeholders">

      <div class="col-xs-12 col-sm-6 placeholder">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Meu histórico de Jogos</h3>
          </div>
          {% if tem_assinatura %}
            {% if tem_pedido_para_mostrar %}

              Entrega de {{pedido_recente.data}}

              {% if digital %}
              dig {{pedido_recente.numero}}<br>
              {% for chave in chaves %}
              <div class="">
                <img src="http://cdn.akamai.steamstatic.com/steam/apps/{{chave.jogo.img1}}/header.jpg?t={{chave.jogo.img2}}" alt="{{chave.jogo.nome}}" /><br>
                <div class="">
                  {{chave.jogo.nome}}<br>
                  Chave Download: {{chave.chave}}<br>
                </div>
              </div>
              {% endfor %}
              <br><a href="/Assinante/Historico/{{pedido_recente.numero}}/">Ver minhas outras entregas</a>

              {% else %}
              fis <br>
              {% for jogo in pedido_recente.jogosPedidos.all %}
              <div class="">
                <img src="http://cdn.akamai.steamstatic.com/steam/apps/{{jogo.img1}}/header.jpg?t={{jogo.img2}}" alt="{{jogo.nome}}" /><br>
                <div class="">
                  {{jogo.nome}}
                </div>
              </div>
              {% endfor %}
              Código de rastreamento: {{pedido_recente.codigoRastreamento}}<br>
              <form action="/Assinante/Historico/{{pedido_recente.numero}}/">
                <input type="submit" value="Ver minhas outras entregas" class="btn-primary">
              </form>

              {% endif %}

            {% else %}
              Você ainda não recebeu nenhum jogo! Aguarde sua primeira entrega em breve!
            {% endif %}
          {% else %}
            Complete sua assinatura para começar a receber jogos!
          {% endif %}
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 placeholder">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Minha Assinatura</h3>
          </div>
          {% if tem_assinatura %}
            {% if assinatura.atividade %}
              <strong>{{assinatura.quantidade}}</strong> jogos por mês <br>
              Até R$ <strong>{{assinatura.precoPorJogo}}</strong> por jogo <br>
              Seus gêneros:<br>
                {% for genero in assinatura.generosPessoais.all %}
                  <strong>{{genero.nome}}</strong><br>
                {% endfor %}
              processador <strong>{{assinatura.processador.proc}}</strong><br>
              <form action="{% url 'CadastroAssinatura' %}">
                <input type="submit" value="Editar assinatura!" class="btn-primary">
              </form>
            {% else %}
              <form action="{% url 'CadastroAssinatura' %}">
                <input type="submit" value="Edite sua assinatura para reativá-la!" class="btn-primary">
              </form>
            {% endif %}
          {% else %}
            {% if dados_completos %}
              Você ainda não completou sua assinatura... <br>
              <form action="{% url 'CadastroAssinatura' %}">
                <input type="submit" value="Diga-nos suas preferências e comece a receber jogos!" class="btn-primary">
              </form>
            {% else %}
              Você ainda não completou agumas informações... <br>
              {% if not tem_infos_pagamento %}
                <form action="{% url 'InfoPagamento' %}">
                  <input type="submit" value="Complete suas informações de pagamento" class="btn-primary">
                </form>
              {% endif %}
              {% if not tem_infos_endereco %}
                <form action="{% url 'CadastroEndereco' %}">
                  <input type="submit" value="Complete suas informações de endereco" class="btn-primary">
                </form>
              {% endif %}
              Complete suas informações para poder fazer sua assinatura!
            {% endif %}
          {% endif %}
        </div>
      </div>


      <div class="col-xs-12 col-sm-6 placeholder">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Minhas Informações de Endereco</h3>
          </div>
          {% if tem_infos_endereco %}
            <strong>Rua</strong> {{infos_endereco.rua}},{{infos_endereco.numeroRua}},{{infos_endereco.complemento}} <br>
            <strong>CEP</strong> {{infos_endereco.CEP}} <br>
            <form action="{% url 'CadastroEndereco' %}">
              <input type="submit" value="Editar informações de endereco" class="btn-primary">
            </form>
          {% else %}
          Você ainda não registrou suas informações de endereço...
            <form action="{% url 'CadastroEndereco' %}">
              <input type="submit" value="Registrar suas informações de endereço!" class="btn-primary">
            </form>
          {% endif %}
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 placeholder">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Minhas Informações de Pagamento</h3>
          </div>
          {% if tem_infos_pagamento %}
            <strong>Titular</strong> {{infos_pagamento.nomeTitular}} <br>
            <strong>Nº Cartao</strong> {{infos_pagamento.numeroCartao}} <br>
            <strong>Código de seguranca</strong> {{infos_pagamento.codigoSeguranca}} <br>
            <form action="{% url 'InfoPagamento' %}">
              <input type="submit" value="Editar informações de pagamento" class="btn-primary">
            </form>
          {% else %}
            Você ainda não registrou suas informações de pagamento...
              <form action="{% url 'InfoPagamento' %}">
                <input type="submit" value="Registrar suas informações de pagamento!" class="btn-primary">
              </form>
          {% endif %}
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 placeholder">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Outras opções</h3>
          </div>
          <a href="#">Editar senha e nome de usuário</a> <br>
          <a href="{% url 'ContatoAdmin' %}">Contatar um administrador</a> <br>
        </div>
      </div>

    </div>
    {% endblock %}
