{% extends "MainPage.html" %}

    {% load staticfiles %}

    {% block content %}
    <div class="page-header">
    <h1>Bem-vindo {{ user.username }}!</h1>
    </div>

    <div class="row placeholders">

      <div class="col-xs-12 col-sm-6 placeholder">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Meu histórico de Jogos</h3>
          </div>
          {% if tem_assinatura %}
            {% if tem_pedido_para_mostrar %}

              Entrega de {{pedido_recente.data}}

              {% if digital %}
              dig {{pedido_recente.numero}}<br>
              {% for chave in chaves %}
              <div class="">
                <img src="http://cdn.akamai.steamstatic.com/steam/apps/{{chave.jogo.img1}}/header.jpg?t={{chave.jogo.img2}}" alt="{{chave.jogo.nome}}" /><br>
                <div class="">
                  {{chave.jogo.nome}}<br>
                  Chave Download: {{chave.chave}}<br>
                </div>
              </div>
              {% endfor %}
              <br><a href="/Assinante/Historico/{{pedido_recente.numero}}/">Ver minhas outras entregas</a>

              {% else %}
              fis <br>
              {% for jogo in pedido_recente.jogosPedidos.all %}
              <div class="">
                <img src="http://cdn.akamai.steamstatic.com/steam/apps/{{jogo.img1}}/header.jpg?t={{jogo.img2}}" alt="{{jogo.nome}}" /><br>
                <div class="">
                  {{jogo.nome}}
                </div>
              </div>
              {% endfor %}
              Código de rastreamento: {{pedido_recente.codigoRastreamento}}<br>
              <br><a href="/Assinante/Historico/{{pedido_recente.numero}}/"><button class="btn-primary">Ver minhas outras entregas</button></a>

              {% endif %}

            {% else %}
              Você ainda não recebeu nenhum jogo! Aguarde sua primeira entrega em breve!
            {% endif %}
          {% else %}
            Complete sua assinatura para começar a receber jogos!
          {% endif %}
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 placeholder">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Minha Assinatura</h3>
          </div>
          {% if tem_assinatura %}
            {% if assinatura.atividade %}
              <strong>{{assinatura.quantidade}}</strong> jogos por mês <br>
              Até R$ <strong>{{assinatura.precoPorJogo}}</strong> por jogo <br>
              Seus gêneros:<br>
                {% for genero in assinatura.generosPessoais.all %}
                  <strong>{{genero.nome}}</strong><br>
                {% endfor %}
              processador <strong>{{assinatura.processador.proc}}</strong><br>
              <a href="{% url 'Assinatura' %}"><button class="btn-primary">Editar assinatura</button></a>
            {% else %}
              Você desativou sua assinatura...
              <a href="{% url 'Assinatura' %}">Edite sua assinatura para reativá-la</a>
            {% endif %}
          {% else %}
            {% if dados_completos %}
              Você ainda não completou sua assinatura... <br>
              <a href="{% url 'Assinatura' %}">Diga-nos suas preferências e comece a receber jogos!</a>
            {% else %}
              Você ainda não completou agumas informações... <br>
              {% if not tem_infos_pagamento %}
                <a href="{% url 'InfoPagamento' %}">Complete suas informações de pagamento</a><br>
              {% endif %}
              {% if not tem_infos_endereco %}
                <a href="{% url 'CadastroEndereco' %}">Complete suas informações de endereco</a><br>
              {% endif %}
              Complete suas informações para poder fazer sua assinatura!
            {% endif %}
          {% endif %}
        </div>
      </div>


      <div class="col-xs-12 col-sm-6 placeholder">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Minhas Informações de Endereco</h3>
          </div>
          {% if tem_infos_endereco %}
            <strong>Rua</strong> {{infos_endereco.rua}},{{infos_endereco.numeroRua}},{{infos_endereco.complemento}} <br>
            <strong>CEP</strong> {{infos_endereco.CEP}} <br>
            <a href="{% url 'CadastroEndereco' %}"><button class="btn-primary">Editar informações de endereco</button></a>
          {% else %}
          Você ainda não registrou suas informações de endereço...
          <a href="{% url 'CadastroEndereco' %}"><br>
            <button class="btn-primary">Registrar suas informações de endereço!</button></a>
          {% endif %}
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 placeholder">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Minhas Informações de Pagamento</h3>
          </div>
          {% if tem_infos_pagamento %}
            <strong>Titular</strong> {{infos_pagamento.nomeTitular}} <br>
            <strong>Nº Cartao</strong> {{infos_pagamento.numeroCartao}} <br>
            <strong>Código de seguranca</strong> {{infos_pagamento.codigoSeguranca}} <br>
            <a href="{% url 'InfoPagamento' %}"><button class="btn-primary">Editar informações de pagamento</button></a>
          {% else %}
            Você ainda não registrou suas informações de pagamento...
            <a href="{% url 'InfoPagamento' %}"><br>
              <button class="btn-primary">Registrar suas informações de pagamento!</button></a>
          {% endif %}
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 placeholder">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Outras opções</h3>
          </div>
          <a href="{% url 'EditarCadastro' %}"><button class="btn-primary" >Editar informações de cadastro</button></a> <br><br>

            <a href="" data-toggle="modal" data-target="#myModal"><button class="btn-primary">Contatar um administrador</button></a>
           <br>
        </div>
      </div>


    <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Escreva sua mensagem</h4>
              </div>
              <div class="modal-body">
                  <form role="form" action="#" method="post">
                      {% csrf_token %}

                      <strong>Nome:</strong><br>
                      <input class="form-control" type="text" name="firstname" placeholder="Nome">
                      <br>
                      <strong>E-Mail:</strong><br>
                      <input class="form-control" type="text" name="email" placeholder="E-Mail">
                      <br>

                      <label for="{{ form.assuntoForm.id_for_label }}">Assunto:</label>
                      {{ form.assuntoForm.errors }}
                      <input class="form-control"  id="{{ form.assuntoForm.id_for_label }}" name="assuntoForm" type="text"  placeholder="Assunto" {% if form.assuntoForm.value != None %}value="{{ form.assuntoForm.value }}" {% endif %}/>

                      <br>

                      <label for="{{ form.menssagemForm.id_for_label }}">Mensagem:</label>
                      {{ form.menssagemForm.errors }}
                      <textarea class="form-control"  id="{{ form.menssagemForm.id_for_label }}" name="menssagemForm" type="text"  placeholder="Mensagem" {% if form.menssagemForm.value != None %}value="{{ form.menssagemForm.value }}" {% endif %} rows="4" cols="50"></textarea>
                  </form>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                <button type="submit" class="btn btn-primary">Enviar Mensagem</button>
              </div>
            </div>
          </div>
        </div>
    </div>
    {% endblock %}