{% extends "MainPage.html" %}

{% block content %}
      <div style="background-color: #00AAAA; margin-top: 300px;">
        <div style='margin-top: 5px; margin-left: 5px; width: 100px; height: 50px'><span style='font-size: 16px'>MINHA CONTA</span></div>
        <div style='margin-top: 5px; margin-left: 5px; width: 300px; height: 50px'>Home    Acervo    Sobre   Contato</div>
        <br><br>
        <div style='margin-top: 20px; margin-left: 5px; width: 100px; height: 100px'>Endereço: {{ endereco.rua }}, {{ endereco.numeroRua }} - {{ endereco.complemento }} / {{ endereco.CEP }}</div>
      </div>
{% endblock %}
