{% extends "MainPage.html" %}

{% block content %}

    {% if registrado %}
        Obrigado por registrar seu endereço!<br/>
        <a href="{% url 'MinhaConta' %}">voltar para a sua conta</a><br />

    {% else %}
        <form role="form" action="/Assinante/Endereco/" method="post">
            {% csrf_token %}
            <h1 class="form-signin-heading">Suas informações de endereço</h1>
            {{ form.non_field_errors }}
            <strong>Suas informações de endereço:</strong><br/><br/>
            <div class="col-xs-3">
            <strong>Rua:</strong><br/>
            {{form.ruaForm.errors}}
            {{form.ruaForm}}
            <br/>

            <strong>Numero:</strong><br/>
            {{ form.numeroRuaForm.errors }}
            {{ form.numeroRuaForm }}
            <br/>

            <strong>Complemento:</strong><br/>
            {{ form.complementoForm.errors }}
            {{ form.complementoForm }}
            <br/>

            <strong>CEP:</strong><br/>
            {{ form.CEPForm.errors }}
            {{ form.CEPForm }}
            <br/>

            <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </form>

    {% endif %}

{% endblock %}
