{% extends "MainPage.html" %}

{% block content %}

    {% if registrado %}

        A assinatura foi realizada com sucesso. <a href="{% url 'MinhaConta' %}">Voltar à sua página de assinante</a>

    {% else %}
        <form role="form" action="/Assinante/Assinatura/" method="post">
            {% csrf_token %}
            <h2 class="form-signin-heading">Assinatura</h2>
            <strong>Defina as opções de sua assinatura:</strong><br/><br/>

            {{form.generosPessoaisForm}}
            {{form.quantidadeForm}}
            {{form.precoPorJogoForm}}
            {{form.tipoMidiaForm}}
            {{form.sistOpForm}}
            {{form.memRAMForm}}
            {{form.processadorForm}}
            {{form.memVideoForm}}

            <button type="submit" class="btn btn-default">Submit</button>
        </form>

    {% endif %}

{% endblock %}
