{% extends "MainPage.html" %}

{% block content %}

      <h1>Suas informações de endereço</h1>

        {% if registrado %}
        Obrigado por registrar seu endereço!
        <a href="{% url 'MinhaConta' %}">voltar para a sua conta</a><br />

        {% else %}

        {% if atual_endereco %}
        <strong>Registre seu endereço:</strong><br/><br/>
        <form role="form" action="{% url 'CadastroEndereco' %}" method="post">
            {% csrf_token %}
            {{ endereco_form.non_field_errors }}
            <div class="form-group" >
                <p class="required">
                    <label for="id_rua">Rua:</label> <input  class="form-control"  id="id_rua" name="rua" type="text" value={{atual_endereco.rua}} />
                </p>
            </div>
            <div class="form-group" >
                {{ endereco_form.numeroRua.errors }}
                <p class="required">
                    <p><label for="id_numeroRua">Numero da rua:</label> <input class="form-control"   id="id_numeroRua" name="numeroRua" type="text" value={{atual_endereco.numeroRua}} /></p>
                </p>
            </div>
            <div class="form-group" >
                {{ endereco_form.complemento.errors }}
                <p class="required">
                    <label for="id_complemento">Complemento:</label> <input  class="form-control"  id="id_complemento" name="complemento" type="text" value={{atual_endereco.complemento}} />
                </p>
            </div>
            <div class="form-group" >
                {{ endereco_form.CEP.errors }}
                <p class="required">
                    <label for="id_CEP">CEP:</label> <input class="form-control" id="id_CEP" name="CEP" type="text" value={{atual_endereco.CEP}} />
                </p>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
        {% else %}
        <strong>Registre seu endereço</strong><br />
        <form role="form" action="{% url 'CadastroEndereco' %}" method="post">
            {% csrf_token %}
            <h2 class="form-signin-heading">Informações de Pagamento</h2>
            {{ endereco_form.non_field_errors }}
            <div class="form-group" >
                <p class="required">
                    <label for="id_rua">rua:</label> <input  class="form-control"  id="id_rua" name="rua" type="text" />
                </p>
            </div>
            <div class="form-group" >
                {{ endereco_form.numeroRua.errors }}
                <p class="required">
                    <p><label for="id_numeroRua">numeroRua:</label> <input class="form-control"   id="id_numeroRua" name="numeroRua" type="text" /></p>
                </p>
            </div>
            <div class="form-group" >
                {{ endereco_form.complemento.errors }}
                <p class="required">
                    <label for="id_complemento">complemento:</label> <input  class="form-control"  id="id_complemento" name="complemento" type="text" />
                </p>
            </div>
            <div class="form-group" >
                {{ endereco_form.CEP.errors }}
                <p class="required">
                    <label for="id_CEP">CEP:</label> <input class="form-control"   id="id_CEP" name="CEP" type="text" />
                </p>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
        {% endif %}
        {% endif %}

{% endblock %}

{% block contentz %}

      <h1>Suas informações de endereço</h1>

        {% if registrado %}
        Obrigado por registrar seu endereço!
        <a href="{% url 'MinhaConta' %}">voltar para a sua conta</a><br />

        {% else %}
        <strong>Registre seu endereço</strong><br />
        <form id="user_form" method="post" action="{% url 'CadastroEndereco' %}">

            {% csrf_token %}

            {{ endereco_form.as_p }}

            <input type="submit" name="submit" value="Register" />
        </form>
        {% endif %}

{% endblock %}
