{% extends "MainPage.html" %}

{% block content %}

    {% if registrado %}

        Obrigado por registrar sua assinatura!<br/>
        <a href="{% url 'MinhaConta' %}">Voltar para a sua conta</a><br/>

    {% else %}
        <form role="form" action="/Assinante/Assinatura/" method="post">
            {% csrf_token %}
            <h2 class="form-signin-heading">Assinatura</h2>
            {{ form.non_field_errors }}
            <strong>Defina as opções de sua assinatura:</strong><br/><br/>

            <strong>Gêneros de preferência:</strong><br/>
            {{form.generosPessoaisForm.errors}}
            {{form.generosPessoaisForm}}

            <strong>Quantidade de jogos:</strong><br/>
            {{ form.quantidadeForm.errors }}
            {{ form.quantidadeForm }}
            <br/>

            <strong>Preco por jogo:</strong><br/>
            {{ form.precoPorJogoForm.errors }}
            {{ form.precoPorJogoForm }}
            <br/>

            <strong>Tipo de mídia:</strong><br/>
            {{form.tipoMidiaForm.errors}}
            {{form.tipoMidiaForm}}
            <br/>

            <strong>Sistema operacional:</strong><br/>
            {{form.sistOpForm.errors}}
            {{form.sistOpForm}}
            <br/>

            <strong>Quantidade de memória RAM:</strong><br/>
            {{form.memRAMForm.errors}}
            {{form.memRAMForm}}
            <br/>

            <strong>Processador:</strong><br/>
            {{form.processadorForm.errors}}
            {{form.processadorForm}}
            <br/>

            <strong>Quantidade de memória RAM de vídeo:</strong><br/>
            {{form.memVideoForm.errors}}
            {{form.memVideoForm}}
            <br/>

            <button type="submit" class="btn btn-default">Submit</button>
        </form>

    {% endif %}

{% endblock %}
