{% extends "MainPage.html" %}


{% block content %}

  {% if registrado %}

      Obrigado por registrar-se! <a href="{% url 'Login' %}"> Faça seu login </a> e visite sua conta!

  {% else %}

      <form role="form"  method="post" action="/Assinante/Cadastro/">
                      {% csrf_token %}

      <h2 class="form-signin-heading">Cadastre-se Aqui</h2>

      <div class="col-xs-3">

       <strong>E-mail: </strong><br/>
       {{ user_form.email.errors }}
       {{ user_form.email }}
       <br/>


      <strong>username: </strong><br/>
      {{ user_form.username.errors }}
      {{ user_form.username }}
      <br/>


      <strong>password: </strong><br/>
      {{ user_form.password.errors }}
      {{ user_form.password }}
      <br/>


      <strong>CPF: </strong><br/>
      {{ assinante_form.CPF.errors }}
      {{ assinante_form.CPF }}
      <br/>


      <strong>Nome: </strong><br/>
      {{ assinante_form.nome.errors }}
      {{ assinante_form.nome }}
      <br/>

      <button type="submit" class="btn btn-default">Submit</button>
      </div>

      </form>

    {% endif %}
{% endblock %}
