{% extends "MainPage.html" %}


{% block content %}

  {% if registrado %}

      Suas informações foram alteradas com sucesso!

  {% else %}

      <form role="form"  method="post" action="/Assinante/EditarCadastro/">
                      {% csrf_token %}

      <h2 class="form-signin-heading">Edite Seu username ou email</h2>
      <div class="col-xs-3">
       <strong>Username:</strong><br/>
       {{ form.username.errors }}
       {{ form.username }}
       <br/>

       <strong>email:</strong><br/>
       {{ form.email.errors }}
       {{ form.email }}
       <br/>

      <button type="submit" class="btn btn-default">Submit</button>
      </div>
      </form>

    {% endif %}

    <div class="">
    <a href="{% url 'EditarSenha' %}"><button type="input" class="btn btn-default">alterar senha</button></a>
    </div>

{% endblock %}
