{% extends "MainPage.html" %}

{% block side %}

  <h2>Meu jogos</h2>

    <a href="{% url 'Historico' %}"><button class="btn-primary">Ver todos os meus jogos</button></a>

  <h2>Meus pedidos por data</h2>

  {% for p in listaPedidos %}

    <a href="/Assinante/Historico/{{p.numero}}/"><button class="btn-primary">{{p.data}}</button></a>

  {% endfor %}

{% endblock %}

{% block content %}

<h1>HISTÓRICO</h1>

{% for p in listaPedidos %}

  {% for j in p.jogosPedidos.all %}
    <div class="row" style="float: left; padding: 20px">
      <div>
        <div class="thumbnail">
          <img src="http://cdn.akamai.steamstatic.com/steam/apps/{{j.img1}}/header.jpg?t={{j.img2}}" style="width: 460px; height: 215px">
          <div class="caption">
            <h3>{{ j.nome }}</h3>
            <p>Gêneros: </p>
            {% for genero in j.listaGeneros.all %}
            <p>{{ genero.nome }}</p>
            {% endfor %}
            Entregue em: {{p.data}}
          </div>
        </div>
      </div>
    </div>
  {% endfor %}

{% endfor %}

{% endblock %}

