{% extends "MainPage.html" %}

{% block side %}

  <h2>Meu jogos</h2>


    <form action="{% url 'Historico' %}">
      <input type="submit" value="Ver todos os meus jogos" class="btn btn-primary btn-sm" style="margin:7px;width:150px;text-align: center">
    </form>

  <h2>Meus pedidos por data</h2>

  {% for p in listaPedidos %}

    <form action="/Assinante/Historico/{{p.numero}}/">
      <input type="submit" value="{{p.data}}" class="btn btn-primary btn-sm" style="margin:7px;width:100px;text-align: center">
    </form>

  {% endfor %}

{% endblock %}

{% block content %}

<h1>HISTÓRICO</h1>

{% for p in listaPedidos %}

  {% for j in p.jogosPedidos.all %}

    <div class="row" style="float: left; padding: 20px; <!--outline-style:solid; outline-color:black;--> margin:10px">
     <div>
       <div class="thumbnail">
         <img src="http://cdn.akamai.steamstatic.com/steam/apps/{{j.img1}}/header.jpg?t={{j.img2}}" style="width: 460px; height: 215px">
         <div class="caption" style="max-width:460px; height: 400px">
           <h3>{{ j.nome }}</h3>
           <p>Gêneros: </p>
           {% for genero in j.listaGeneros.all %}
           <p style="display: inline">{{ genero.nome }};</p>
           {% endfor %}
           <br><br>
           <p>Descrição:</p>
           <p style="text-indent:30px">{{ j.descricao }}</p>
           <br>
           <p>
             Ram mínima : {{j.memRAM}} MB
           </p>
           <p>
             Preço : {{j.preco}} MB
           </p>
           Entregue em: <a href="/Assinante/Historico/{{p.numero}}/"><button class="btn-primary">{{p.data}}</button></a><br>
         </div>
       </div>
     </div>
    </div>
  {% endfor %}

{% endfor %}

{% endblock %}
