{% extends "MainPage.html" %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
      <h1>HISTÓRICO</h1>
      mostrar aqui o pedido {{num_pedido}} do assinante {{user.username}}<br>
      {{pedido.data}}




      {% if digital %}
      dig {{pedido.numero}}<br>

      {% for chave in chaves %}
      <div class="col-xs-12 col-sm-6 placeholder">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">{{chave.jogo.nome}}</h3>
          </div>
          <img src="http://cdn.akamai.steamstatic.com/steam/apps/{{chave.jogo.img1}}/header.jpg?t={{chave.jogo.img2}}" alt="{{chave.jogo.nome}}" /><br>

          Chave Download: {{chave.chave}}<br>

        </div>
      </div>
      {% endfor %}

      {% else %}
      fis <br>

      {% for jogo in pedido.jogosPedidos.all %}

      <div class="col-xs-12 col-sm-6 placeholder">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">{{jogo.nome}}</h3>
          </div>
          <img src="http://cdn.akamai.steamstatic.com/steam/apps/{{jogo.img1}}/header.jpg?t={{jogo.img2}}" alt="{{chave.jogo.nome}}" /><br>
          <div class="">
          </div>
        </div>
      </div>

      {% endfor %}
      Código de rastreamento: {{pedido.codigoRastreamento}}<br>

      {% endif %}



      {% if pode_sucessor %}
        <a href="/Assinante/Historico/{{sucessor}}/">Próxima entrega</a><br>
      {% endif %}
      {% if pode_antecessor %}
        <a href="/Assinante/Historico/{{antecessor}}/">Entrega anterior</a><br>
      {% endif %}
</body>
</html>
{% endblock %}
