{% extends "MainPage.html" %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
      <h1>HISTÓRICO</h1>
      mostrar aqui o pedido {{num_pedido}} do assinante {{user.username}}<br>
      {{pedido.data}}
      {% for jogo in pedido.jogosPedidos.all %}
      <div class="">
        <img src="http://cdn.akamai.steamstatic.com/steam/apps/{{jogo.img1}}/header.jpg?t={{jogo.img2}}" alt="{{jogo.nome}}" /><br>
        <div class="">
          {{jogo.nome}}
        </div>
      </div>
      {% endfor %}
      {% if pode_sucessor %}
        <a href="/Assinante/Historico/{{sucessor}}/">Próxima entrega</a><br>
      {% endif %}
      {% if pode_antecessor %}
        <a href="/Assinante/Historico/{{antecessor}}/">Entrega anterior</a><br>
      {% endif %}
</body>
</html>
{% endblock %}
