{% extends "MainPage.html" %}

{% block title %}Redefinir senha{% endblock %}

{% block content %}

    {% if finalizado %}

        <strong>Sua senha foi redefinida com sucesso.</strong><br><br>
        Verifique seu e-mail para obter a nova senha.

    {% else %}

        <form role="form" action="/Assinante/RedefinirSenha/" method="post">
            {% csrf_token %}
            <h1>Redefinir Senha</h1>

            {{ form.non_field_errors }}

            <strong>Insira o e-mail da conta que deseja recuperar a senha:</strong><br><br>
            {% if invalido %}
                Não existe nenhuma conta cadastrada no e-mail inserido.<br><br>
            {% endif %}

            {{form.emailForm.errors}}
            {{form.emailForm}}
            <br>
            <button type="submit" class="btn btn-default">Confirmar</button>
        </form>

    {% endif %}

{% endblock %}